GOOGLE_API_KEY= ""
MONGODB_URL=""
MONGODB_DATABASE=""
MONGODB_COLLECTION=""
GPT_OSS_20B_BASE_URL=
TAVILY_API_KEY=""
DJANGO_SECRET_KEY=""
POSTGRES_DB=""
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_HOST=""
POSTGRES_PORT=""